@import '../node_modules/modern-normalize/modern-normalize.css';

#top-container{
    display: flex;
}
#sidebar{
    flex-grow: 1;
    background-color: rgb(166, 206, 207);
    padding: 16px 32px;
}
#main{
    flex-grow: 6;
    background-color: bisque;
}

button{
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    #new-project-btn{
        background-color: rgb(146, 255, 146);
        font-size: 2rem;
        font-weight: bold;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}