@import '../node_modules/modern-normalize/modern-normalize.css';
:root{
    --first-color: #3a717a;
    --second-color: #6dbacf;
    --third-color: #84d2e6;
    --fourth-color:  #f1d18a;
    --fifth-color: #80dbf1;
}
body{
    height: 100vh;
}
#top-container{
    display: grid;
    min-height: 100%;
    grid: 1fr 24px / 1fr 4fr
}
#sidebar{
    background-color: var(--second-color);
    grid-area: 1/1 / 3/2;
    border-right: 6px solid var(--first-color);
    min-width: 400px;
}
#main{
    background-color: var(--fourth-color);
}
footer{
    grid-area: 2/2 / 3/3;
    background-color: var(--fourth-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin: 0;
        font-size: 10px;
    }
}
#active-project-container{
    display: grid;
    grid-template-rows: repeat(4, 64px);
    grid-auto-rows: 1fr;
    align-items: center;
}

#sidebar, #main{
    padding: 16px 32px;
}

#task-notes-box{
    position: absolute;
    border: 2px solid var(--first-color);
    background-color: #ffe9b8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    opacity: 90%;

    h3{
        text-align: center;
        border-bottom: 2px solid var(--first-color);
        padding-bottom: 8px;
    }
    p{
        word-wrap: break-word;
    }
}

#project-dialog,
#task-dialog{
    background-color: var(--third-color);
    border-radius: 16px;
    border: 0;
    box-shadow: 0 4px 4px var(--first-color);
    min-width: 320px;
}

#project-dialog > form,
#task-dialog > form{
    display: grid;
    gap: 8px;

    label{
        font-weight: 600;
        margin-top: 8px;
    }
    label:first-child{
        margin-top: 0;
    }

    button{
        margin-top: 16px;
        background-color: var(--fourth-color);
        border: 0;
        box-shadow: 0 1px 1px var(--first-color);
        border-radius: 8px;
        padding: 8px;
        font-weight: 600;
    }

    button:hover{
        box-shadow: 0 2px 2px var(--first-color);
        translate: 0 -1px;
    }
}

#project-description,
#task-notes{
    resize: none;
    height: 128px;
}

#task-dueTime,
#task-notes,
#project-description{
    background-color: rgb(224, 224, 224);
}

label[for="task-notes"],
label[for="task-dueTime"],
label[for="project-description"]{
    font-style: italic;
}

button{
    cursor: pointer;
}

img{
    user-select: none;
}

.sidebar-header{
    #new-project-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        width: 32px;
        height: 32px;
        border: 0;
        border-radius: 8px;
        background-color: var(--third-color);
        box-shadow: 0 1px 1px var(--first-color);
        user-select: none;
    }
    #new-project-btn:hover{
        background-color: var(--fifth-color);
        box-shadow: 0 2px 2px var(--first-color);
        translate: 0 -1px;
    }
}

.project-header-container,
.active-project-task-header-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
    margin: 0;
}

.project-header{
    min-width: 0;

    a{
        width: 100%;
        word-wrap: break-word;
        text-decoration: none;
        color: black;
    }
    a[data-active="true"]{
        text-decoration: underline;
    }
}

.project-btn-container,
.active-project-task-btn-container{
    display: flex;
    gap: 8px;
    align-items: center;
}

.project-edit-btn,
.project-remove-btn,
.active-project-task-remove-btn,
.active-project-task-notes{
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: inherit;
    border: 0;
}

.icon{
    width: 20px;
    height: 20px;
    opacity: 65%;
}

.project-task-header{
    font-size: 1.1rem;
    font-weight: 300;
}

#new-btn{
    width: 128px;
    height: 32px;
    border: 0;
    border-radius: 8px;
    background-color: var(--third-color);
    box-shadow: 0 1px 1px var(--first-color);
}

#new-btn:hover{
    background-color: var(--fifth-color);
    box-shadow: 0 2px 2px var(--first-color);
    translate: 0 -1px;
}

.active-project-task-checkbox[data-completed="true"]+.active-project-task-header-container{
    text-decoration: line-through;

    +.active-project-task-dueDate{
        text-decoration: line-through;
    }
}

.active-project-task-date-container{
    border-top: 4px solid var(--first-color);
    padding: 8px;
}

.active-project-task-date-header{
    margin: 8px 0;
}

.active-project-task-container{
    display: grid;
    align-items: center;
    grid: 1fr 1fr / 48px 1fr;
    padding: 8px;

    .active-project-task-header{
        margin: 0;
        cursor: pointer;
    }

    .active-project-task-header:hover{
        color: rgb(255, 81, 28);
    }

    .active-project-task-dueDate{
        margin: 0;
        grid-column: 2;
        color: green;
    }

    .active-project-task-checkbox{
        width: 24px;
        height: 24px;
        border-radius: 16px;
        border: 2px solid black;
        cursor: pointer;
    }

    .active-project-task-checkbox[data-completed="false"]{
        .active-project-task-checkmark{
            display: none;
        }
    }
    .active-project-task-checkbox[data-priority="low"]{
        background-color: #ffd17d;
    }
    .active-project-task-checkbox[data-priority="medium"]{
        background-color: #ffae80;
    }
    .active-project-task-checkbox[data-priority="high"]{
        background-color: rgb(255, 123, 123);
    }
}

