@import '../node_modules/modern-normalize/modern-normalize.css';

body{
    height: 100vh;
}
#top-container{
    display: flex;
    min-height: 100%;
}
#sidebar{
    width: 20%;
    background-color: rgb(166, 206, 207);
}
#main{
    flex-grow: 1;
    background-color: bisque;
}
#active-project-container{
    display: grid;
    grid-template-rows: repeat(4, 64px);
    grid-auto-rows: 1fr;
    align-items: center;
}

#sidebar, #main{
    padding: 16px 32px;
}

button{
    cursor: pointer;
}

img{
    user-select: none;
}

.sidebar-header{
    #new-project-btn{
        background-color: rgb(146, 255, 146);
        font-size: 2rem;
        font-weight: bold;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.project-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.project-header{
    min-width: 0;

    a{
        width: 100%;
        word-wrap: break-word;
        text-decoration: none;
        color: rgb(6, 56, 121);
    }
    a[data-active="true"]{
        text-decoration: underline;
    }
}

.project-edit-btn{
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img{
        width: 18px;
        height: 18px;
    }
}

.project-task-header{
    font-size: 1.1rem;
    font-weight: 300;
}

#new-btn{
    width: 128px;
    height: 32px;
}

.active-project-task-container{
    display: grid;
    align-items: center;
    grid: 1fr 1fr / 32px 1fr;
    gap: 16px;

    .active-project-task-header{
        margin: 0;
    }

    .active-project-task-dueDate{
        margin: 0;
        grid-column: 2;
        color: green;
    }

    .active-project-task-checkbox{
        width: 24px;
        height: 24px;
        border-radius: 16px;
        border: 2px solid black;
        justify-self: center;
        cursor: pointer;
    }

    .active-project-task-checkbox[data-completed="false"]{
        .active-project-task-checkmark{
            display: none;
        }
    }

    .active-project-task-checkbox[data-priority="low"]{
        background-color: yellow;
    }
    .active-project-task-checkbox[data-priority="medium"]{
        background-color: cyan;
    }
    .active-project-task-checkbox[data-priority="high"]{
        background-color: red;
    }
}

