@import '../node_modules/modern-normalize/modern-normalize.css';

body{
    height: 100vh;
}
#top-container{
    display: grid;
    min-height: 100%;
    grid: 1fr 24px / 1fr 5fr
}
#sidebar{
    background-color: rgb(166, 206, 207);
    grid-area: 1/1 / 3/2;
}
#main{
    background-color: bisque;
}
footer{
    grid-area: 2/2 / 3/3;
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin: 0;
        font-size: 10px;
    }
}
#active-project-container{
    display: grid;
    grid-template-rows: repeat(4, 64px);
    grid-auto-rows: 1fr;
    align-items: center;
}

#sidebar, #main{
    padding: 16px 32px;
}

#project-dialog,
#task-dialog{
    background-color: rgb(203, 215, 228);
    border-radius: 16px;
    border: 0;
    box-shadow: 0 4px 4px rgb(83, 88, 116);
    min-width: 320px;
}

#project-dialog > form,
#task-dialog > form{
    display: grid;
    gap: 8px;

    label{
        font-weight: 600;
        margin-top: 8px;
    }
    label:first-child{
        margin-top: 0;
    }

    button{
        margin-top: 16px;
    }
}

#task-notes{
    resize: none;
    height: 128px;
}

button{
    cursor: pointer;
}

img{
    user-select: none;
}

.sidebar-header{
    #new-project-btn{
        background-color: rgb(146, 255, 146);
        font-size: 2rem;
        font-weight: bold;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.project-header-container,
.active-project-task-header-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

.project-header{
    min-width: 0;

    a{
        width: 100%;
        word-wrap: break-word;
        text-decoration: none;
        color: rgb(24, 24, 24);
    }
    a[data-active="true"]{
        text-decoration: underline;
    }
}

.project-btn-container{
    display: flex;
    gap: 8px;
}

.project-edit-btn,
.project-remove-btn,
.active-project-task-remove-btn{
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: inherit;
    border: 0;

    img{
        width: 18px;
        height: 18px;
        opacity: 60%;
    }
}

.project-task-header{
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(66, 66, 66);
}

#new-btn{
    width: 128px;
    height: 32px;
}

.active-project-task-container{
    display: grid;
    align-items: center;
    grid: 1fr 1fr / 32px 1fr;
    gap: 16px;

    .active-project-task-header{
        margin: 0;
        cursor: pointer;
    }

    .active-project-task-dueDate{
        margin: 0;
        grid-column: 2;
        color: green;
    }

    .active-project-task-checkbox{
        width: 24px;
        height: 24px;
        border-radius: 16px;
        border: 2px solid black;
        justify-self: center;
        cursor: pointer;
    }

    .active-project-task-checkbox[data-completed="false"]{
        .active-project-task-checkmark{
            display: none;
        }
    }

    .active-project-task-checkbox[data-priority="low"]{
        background-color: yellow;
    }
    .active-project-task-checkbox[data-priority="medium"]{
        background-color: cyan;
    }
    .active-project-task-checkbox[data-priority="high"]{
        background-color: red;
    }
}

